.start {
    background-image: linear-gradient(
            141deg, #009e6c 0, #00d1b2 71%, #00e7eb 100%);
}
.grey-bg{
    background: #f9f9f9;
}
.teachers .card{
    min-height: 560px;
}
.teachers .card-image{
    padding: 3rem 3rem 0.5rem;
}
.teachers .card img{
    border-radius: 50%;
}
.text{
    margin: 1rem auto;
    padding: 2rem;
    text-align: center;
    max-width: 40rem ;
}
.students{
    min-height: 250px;
}
.level img{
    height: 5rem;
    margin-bottom: 1.1rem;
}
@media  screen and (max-width:1024px) {
    .students .card{
        min-height: 295px;
    }
}